body {
  background-image: url("https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco,dpr_1/e7qsmxjjxgjqtqrdqywu");
  background-repeat: repeat;
}
  font family: times;
}

h1 {
  color: red;
  font-size: 18 px;
  font weight: bold;
}

p {
  color: black;
  font-size: 12 px
    font weight: normal
  
}
